.card {
  display: flex;
  gap: 24px;
  max-width: 304px;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.titulo {
  font-weight: 700;
  line-height: 23px;
  color: var(--primary-color-green);
}
.descricao {
  font-size: 13px;
  line-height: 20px;
}
