.header {
  & nav {
    display: flex;
    background-color: var(--primary-bg-black);
    color: white;
    padding: 13px 23px;
    flex-wrap: wrap;

    & .logo {
      margin-right: 40px;
      display: flex;

      & img {
        height: auto;
        width: 133px;
      }

      & button.menu {
        display: none;
        background-color: transparent;
        cursor: pointer;
        border: none;

        & img {
          width: 18px;
          height: 18px;
        }
      }
    }

    & ul {
      display: flex;
      align-items: center;
      margin-right: auto;
      list-style: none;
      gap: 40px;

      & button.close {
        display: none;
        align-self: flex-end;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    & a {
      color: var(---primary-color-white);
      transition: text-shadow ease-out 0.3s;

      &:hover {
        color: var(--primary-color-green);
        text-shadow: var(--primary-bg-violet) 0 0 15px, var(--primary-bg-violet) 0 0 15px,
          var(--primary-bg-violet) 0 0 15px;
      }
    }

    form {
      display: flex;
      align-items: stretch;
      gap: 1rem;

      & input {
        height: auto;
        font-size: 15px;
        font-weight: 400;
        padding: 0 15px;
        outline: none;
      }
      & button {
        height: auto;
        font-weight: 500;
        padding: 9px 12px;
        border: 1px solid var(--primary-color-white);
        background-color: transparent;
        color: var(--primary-color-white);
        cursor: pointer;

        &:hover {
          color: var(--primary-color-green);
          border: 1px solid var(--primary-color-green);
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .header {
    & nav {
      padding: 20px 22px;
      flex-direction: column;

      & .logo {
        width: 100%;

        & img {
          height: auto;
          width: 125.7px;
          margin-right: auto;
        }

        & button.menu {
          display: block;
        }
      }

      & ul {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 99;
        flex-direction: column;
        background-color: var(--primary-bg-dark-gray);
        gap: 8px;
        padding: 24px;
        align-items: start;
        transition: right 0.3s ease;

        & button.close {
          display: block;
        }

        & li:nth-child(2) {
          border-top: none;
          padding-top: none;
        }

        & li {
          border-top: 1px solid var(--primary-border-menu);
          padding-top: 8px;
          width: 100%;
        }
      }
      & ul.show {
        display: flex;
        right: 0;
        transition: right 0.3s ease;
      }

      & form {
        margin-top: 20px;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid var(--primary-bg-dark-gray);
        outline: 1px solid var(--primary-color-green);

        & button {
          height: auto;
          border: 1px solid var(--primary-color-gray);
          color: var(--primary-color-black);
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--primary-bg-gray);
            color: black;
            border: 1px solid var(--primary-color-black);
          }
        }
        & input {
          height: auto;
          width: 100%;
          border: 1px solid var(--primary-color-gray);
        }
      }
    }
  }
}
