@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  box-sizing: border-box;

  /* Font */
  --primary-font-family: 'Inter', sans-serif;
  /* Colors */
  --primary-color-black: #000;
  --primary-color-gray: #ccc;
  --primary-color-green: #daff01;
  --primary-color-violet: #9353ff;
  --secondary-color-brown: #ee6471;
  --secondary-color-orange: #f87f46;
}

body {
  font-family: var(--primary-font-family);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color-black);
  color: #fff;

  padding: 10px 23px;
  justify-content: space-between;

  & ul {
    display: flex;
    gap: 40px;
  }

  & input {
    font-family: var(--primary-font-family);
    border: 1px solid var(--primary-color-gray);
    outline: 0;
    padding: 0px 15px;
  }

  & button {
    font-family: var(--primary-font-family);
    padding: 9px 12px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--primary-color-green);
      color: var(--primary-color-green);
    }
  }
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search-container {
  display: flex;
  align-items: stretch;
  gap: 1rem;
}
